aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
amqp==5.2.0
annotated-types==0.7.0
anyio==4.6.2.post1
asgiref==3.7.2
async-timeout==4.0.3
attrs==24.2.0
autopep8==2.0.4
billiard==4.2.0
cachetools==5.3.2
celery==5.3.5
certifi==2023.7.22
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cryptography==41.0.4
dataclasses-json==0.6.7
defusedxml==0.7.1
dj-database-url==2.2.0
dj-rest-auth==5.0.1
Django==4.2.4
django-allauth==0.56.1
django-bootstrap5==23.3
django-debug-toolbar==4.2.0
django-environ==0.11.2
django-filter==23.2
django-modeltranslation==0.18.11
django-progressbarupload==0.1.5
django-redis==5.4.0
django-silk==5.0.4
django-taggit==4.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7
Faker==19.3.1
frozenlist==1.4.1
gevent==24.11.1
google-api-core==2.17.0
google-auth==2.27.0
google-cloud-speech==2.24.1
google-cloud-texttospeech==2.16.1
googleapis-common-protos==1.62.0
googletrans==4.0.0rc1
gprof2dot==2022.7.29
greenlet==3.1.1
grpcio==1.60.1
grpcio-status==1.60.1
gunicorn==22.0.0
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.2.1
httpcore==1.0.6
httpx==0.27.2
hyperframe==5.2.0
idna==2.10
inflection==0.5.1
jsonpatch==1.33
jsonpointer==3.0.0
kombu==5.3.4
langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.12
langchain-text-splitters==0.3.0
langsmith==0.1.136
Markdown==3.4.4
marshmallow==3.23.0
multidict==6.1.0
mypy-extensions==1.0.0
numpy==1.26.4
oauthlib==3.2.2
orjson==3.10.7
packaging==23.2
Pillow==10.0.0
prompt-toolkit==3.0.41
propcache==0.2.0


proto-plus==1.23.0
protobuf==4.25.2
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.9.2
pydantic-settings==2.6.0
pydantic_core==2.23.4
PyJWT==2.8.0
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.1
python-gettext==5.0
python3-openid==3.2.0
pytube==15.0.0
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.1
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==1.5.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.36
sqlparse==0.4.4
stripe==8.9.0
tenacity==8.5.0
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.4
vine==5.1.0
wcwidth==0.2.11
whitenoise==6.6.0
yarl==1.15.5
zope.event==5.0
zope.interface==7.2
