{% extends 'base.html' %}
{% load static %}

{% block body %}

        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="home-index-slider slider-arrow slider-dots">
            <div class="banner-part banner-1">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-lg-6">
                            <div class="banner-content">
                                <h1>free home delivery within 24 hours now.</h1>
                                <p>Lorem ipsum dolor consectetur adipisicing elit modi consequatur eaque expedita porro necessitatibus eveniet voluptatum quis pariatur Laboriosam molestiae architecto excepturi</p>
                                <div class="banner-btn">
                                    <a class="btn btn-inline" href="shop-4column.html">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span>shop now</span>
                                    </a>
                                    <a class="btn btn-outline" href="offer.html">
                                        <i class="icofont-sale-discount"></i>
                                        <span>get offer</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="banner-img">
                                <img src="{{company_data.logo.url}}" alt="index">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-part banner-2">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-lg-6">
                            <div class="banner-img">
                                <img src="{{company_data.logo.url}}" alt="index">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="banner-content">
                                <h1>free home delivery within 24 hours now.</h1>
                                <p>Lorem ipsum dolor consectetur adipisicing elit modi consequatur eaque expedita porro necessitatibus eveniet voluptatum quis pariatur Laboriosam molestiae architecto excepturi</p>
                                <div class="banner-btn">
                                    <a class="btn btn-inline" href="shop-4column.html">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span>shop now</span>
                                    </a>
                                    <a class="btn btn-outline" href="offer.html">
                                        <i class="icofont-sale-discount"></i>
                                        <span>get offer</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->

        <section class="section suggest-part">
            <div class="container">
                <ul class="suggest-slider slider-arrow">
                   {% for brand in brands  %}
                        <li>
                            <a class="suggest-card" href="products/brands/{{brand.slug}}">
                                <img src="{{brand.image.url}}" style="width:223px; height:194px;" alt="suggest">
                                <h5>{{brand}} <span>{{brand.brand_count}} items</span></h5>
                            </a>
                        </li>
                   {% endfor %}
                </ul>
            </div>
        </section>
        <!--=====================================
                    SUGGEST PART END
        =======================================-->


        <!--=====================================
                    RECENT PART START
        =======================================-->
        <section class="section recent-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <h2>recently sold items</h2>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                    {% for item in sale_products  %}
                        <div class="col">
                            <div class="product-card">
                                <div class="product-media">
                                    <div class="product-label">
                                        <label class="label-text sale">{{item.flag}}</label>
                                    </div>
                                    <button class="product-wish wish">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                    <a class="product-image" href="product-video.html">
                                        <img src="{{item.image.url}}" style="width:223px; height:194px;" alt="product">
                                    </a>
                                    <div class="product-widget">
                                        <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                                        <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                        <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                                     <!-- دا كدا بيظهر متوسط التقيمات علي كل منتج  -->
                                                    <i class="icofont-star {% if item.avg_rate > 0 %}active {% endif %}"></i>
                                                    <i class="icofont-star {% if item.avg_rate > 1 %}active {% endif %}"></i>
                                                    <i class="icofont-star {% if item.avg_rate > 2 %}active {% endif %}"></i>
                                                    <i class="icofont-star {% if item.avg_rate > 3 %}active {% endif %}"></i>
                                                    <i class="icofont-star {% if item.avg_rate > 4 %}active {% endif %}"></i>
                   
                                                    <!-- دا كدا عدد التقيمات علي كل مننج -->
                                                    <a href="product-video.html">({{item.review_product.all|length}})</a>  
                                    </div>
                                    <h6 class="product-name">
                                        <a href="/products/product/{{item.slug}}">{{item}}</a>
                                    </h6>
                                    <h6 class="product-price">
                                        
                                        <span>${{item.price}}</span>
                                    </h6>
                                    <button class="product-add" title="Add to Cart">
                                        <i class="fas fa-shopping-basket"></i>
                                        <span>add</span>
                                    </button>
                                    <div class="product-action">
                                        <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                        <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                        <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    {% endfor %}
                   
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-btn-25">
                            <a href="products" class="btn btn-outline">
                                <i class="fas fa-eye"></i>
                                <span>show more</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    RECENT PART END
        =======================================-->


        <!--=====================================
                    PROMOTION PART START
        =======================================-->
        <div class="section promo-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="promo-img">
                            <a href=""><img src="images/promo/home/03.jpg" alt="promo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=====================================
                    PROMOTION PART END
        =======================================-->


        <!--=====================================
                    FEATURED PART START
        =======================================-->
        <section class="section feature-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <h2>our featured items</h2>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
                    {% for item in feature_products %}
                        <div class="col">
                        <div class="feature-card">
                            <div class="feature-media">
                                <div class="feature-label">
                                    <label class="label-text feat">{{item.flag}}</label>
                                </div>
                                <button class="feature-wish wish">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <a class="feature-image" href="/products/prouct/{{item.slug}}">
                                    <img src="{{item.image.url}}" style="width:223px; height:194px;" alt="product">
                                </a>
                                <div class="feature-widget">
                                    <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                                    <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                </div>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-name">
                                    <a href="/products/product/{{item.slug}}">{{item}}</a>
                                </h6>
                                <div class="feature-rating">
                                                <!-- دا كدا بيظهر متوسط التقيمات علي كل منتج  -->
                                                    <i class="icofont-star {% if item.avg_rate > 0 %}active {% endif %}"></i>
                                                    <i class="icofont-star {% if item.avg_rate > 1 %}active {% endif %}"></i>
                                                    <i class="icofont-star {% if item.avg_rate > 2 %}active {% endif %}"></i>
                                                    <i class="icofont-star {% if item.avg_rate > 3 %}active {% endif %}"></i>
                                                    <i class="icofont-star {% if item.avg_rate > 4 %}active {% endif %}"></i>
                   
                                                    <!-- دا كدا عدد التقيمات علي كل مننج -->
                                                    <a href="product-video.html">({{item.review_product.all|length}})</a>  
                                </div>
                                <h6 class="feature-price">
                                    
                                    <span>${{item.price}}</span>
                                </h6>
                                <p class="feature-desc">{{item.subtitle}}</p>
                                <button class="product-add" title="Add to Cart">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span>add</span>
                                </button>
                                <div class="product-action">
                                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                    <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                   
                  
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-btn-25">
                            <a href="products" class="btn btn-outline">
                                <i class="fas fa-eye"></i>
                                <span>show more</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    FEATURE PART END
        =======================================-->




        <!--=====================================
                    NEW ITEM PART START
        =======================================-->
        <section class="section newitem-part">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section-heading">
                            <h2>collected new items</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="new-slider slider-arrow">
                        {% for item in new_products %}
                             <li>
                                <div class="product-card">
                                    <div class="product-media">
                                        <div class="product-label">
                                            <label class="label-text new">{{item.flag}}</label>
                                        </div>
                                        <button class="product-wish wish">
                                            <i class="fas fa-heart"></i>
                                        </button>
                                        <a class="product-image" href="product-video.html">
                                            <img src="{{item.image.url}}" style="width:223px; height:194px;" alt="product">
                                        </a>
                                        <div class="product-widget">
                                            <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                                            <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                            <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-rating">
                                                        <!-- دا كدا بيظهر متوسط التقيمات علي كل منتج  -->
                                                    <i class="icofont-star {% if item.avg_rate > 0 %}active {% endif %}"></i>
                                                    <i class="icofont-star {% if item.avg_rate > 1 %}active {% endif %}"></i>
                                                    <i class="icofont-star {% if item.avg_rate > 2 %}active {% endif %}"></i>
                                                    <i class="icofont-star {% if item.avg_rate > 3 %}active {% endif %}"></i>
                                                    <i class="icofont-star {% if item.avg_rate > 4 %}active {% endif %}"></i>
                   
                                                    <!-- دا كدا عدد التقيمات علي كل مننج -->
                                                    <a href="product-video.html">({{item.review_product.all|length}})</a>  
                                        </div>
                                        <h6 class="product-name">
                                            <a href="products/product/{{item.slug}}">{{item}}</a>
                                        </h6>
                                        <h6 class="product-price">
                                            
                                            <span>${{item.price}}</span>
                                        </h6>
                                        <button class="product-add" title="Add to Cart">
                                            <i class="fas fa-shopping-basket"></i>
                                            <span>add</span>
                                        </button>
                                        <div class="product-action">
                                            <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                            <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                            <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                           
                          
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="section-btn-25">
                            <a href="products" class="btn btn-outline">
                                <i class="fas fa-eye"></i>
                                <span>show more</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <!--=====================================
                    NEW ITEM PART END
        =======================================-->


        <!--=====================================
                    PROMOTION PART START
        =======================================-->
        <div class="section promo-part">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 px-xl-3">
                        <div class="promo-img">
                            <a href=""><img src="images/promo/home/01.jpg" alt="promo"></a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 px-xl-3">
                        <div class="promo-img">
                            <a href=""><img src="images/promo/home/02.jpg" alt="promo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       



        <!--=====================================
                    BRAND PART START
        =======================================-->
        <section class="section brand-part">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h2>shop by brands</h2>
                        </div>
                    </div>
                </div>
                <div class="brand-slider slider-arrow">
                   {% for brand in brands %}
                       <div class="brand-wrap">
                        <div class="brand-media">
                            <img src="{{brand.image.url}}" style="width:223px; height:194px;" alt="brand">
                            <div class="brand-overlay">
                                <a href="products/brands/{{brand.slug}}"><i class="fas fa-link"></i></a>
                            </div>
                        </div>
                        <div class="brand-meta">
                            <h4>{{brand}}</h4>
                            <p>({{brand.brand_count}} items)</p>
                        </div>
                    </div>
                   {% endfor %}
                   
               
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-btn-50">
                            <a href="products/brands" class="btn btn-outline">
                                <i class="fas fa-eye"></i>
                                <span>view all brands</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    BRAND PART END
        =======================================-->


        <!--=====================================
                  TESTIMONIAL PART START
        =======================================-->
        <section class="section testimonial-part">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h2>client's feedback</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testimonial-slider slider-arrow">
                           {% for review in reviews %}
                                <div class="testimonial-card">
                                    <i class="fas fa-quote-left"></i>
                                    <p>{{ review.review }}</p>
                                    <h5>{{ review.user.profile.user }}</h5>
                                    <ul>
                                        <li class="fas fa-{% if review.rate > 0 %}star{% else %}-empty {% endif%}"></li>
                                        <li class="fas fa-{% if review.rate > 1 %}star{% else %}-empty {% endif%}"></li>
                                        <li class="fas fa-{% if review.rate > 2 %}star{% else %}-empty {% endif%}"></li>
                                        <li class="fas fa-{% if review.rate > 3 %}star{% else %}-empty {% endif%}"></li>
                                        <li class="fas fa-{% if review.rate > 4 %}star{% else %}-empty {% endif%}"></li>
                                        <li class="fas fa-{% if review.rate > 5 %}star{% else %}-empty {% endif%}"></li>
                                    </ul>
                                    {% comment %} {% if review.user.profile.image.url %}
                                        <img src="{{ review.user.profile.image.url }}" alt="testimonial">
                                    {% else %} {% endcomment %}
                                        <!-- Use a default image path if the user profile image is not available -->
                                        <img src="{% static 'en/images/avatar/01.png' %}" alt="not photo">
                                    {% comment %} {% endif %} {% endcomment %}
                                </div>
                            {% endfor %}

                           
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                   TESTIMONIAL PART END
        =======================================-->


        

  {% endblock body %}