
                                    <ul>
                                        <li>
                                            <span>Sub total</span>
                                            <span>${{sub_total|floatformat:2}}</span>
                                        </li>
                                        <li>
                                            <span>delivery fee</span>
                                            <span>${{delivery_fee|floatformat:2}}</span>
                                        </li>
                                        <li>
                                            <span>discount</span>
                                            <span>${{coupon_value|floatformat:2}}</span>
                                        </li>
                                        <li>
                                            <span>Total<small>(Incl. VAT)</small></span>
                                            <span>${{cart_total|floatformat:2}}</span>
                                        </li>
                                    </ul>
                                    